@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
.animate {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

.header .logo-and-menu-container .menu-icon-container, .hero-section .header .logo-and-menu-container .menu-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-section .contact-container .details-container .row, .contact-section .contact-container .contact-form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .logo-and-menu-container, .header .logo-and-menu-container .logo-container, .hero-section .header .logo-and-menu-container, .hero-section .header .logo-and-menu-container .logo-container, .past_work-section .past_work-container, .services-section .services-container, .about-section .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-section .services-container a .service {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

body .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1024px;
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
}

.header {
  width: 100%;
  background: #000;
  height: 60px;
}

.header .mobile-nav {
  z-index: 3;
  width: 100%;
  position: fixed;
}

@media (min-width: 950px) {
  .header .mobile-nav {
    display: none;
  }
}

.header .mobile-nav .menu-container {
  left: 0;
  z-index: 2;
  top: -500px;
  width: 100%;
  height: 208px;
  position: fixed;
  padding-top: 5px;
  background-color: #ffffff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .mobile-nav .menu-container.active {
  top: 60px;
}

.header .mobile-nav .menu-container ul {
  text-align: center;
}

.header .mobile-nav .menu-container ul li {
  padding: 15px 50px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border-bottom: 2px solid rgba(26, 26, 26, 0.11);
}

.header .mobile-nav .menu-container ul li:hover {
  background-color: #efefef;
}

.header .mobile-nav .menu-container ul li:hover a {
  color: #F68E1E;
}

.header .mobile-nav .menu-container ul li a {
  width: 100%;
  font-weight: bold;
  color: #1a1a1a;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .mobile-nav .menu-container ul li a.active {
  color: #F68E1E;
}

.header .desktop-nav {
  z-index: 3;
  width: 100%;
  height: 60px;
  display: none;
  position: fixed;
  -webkit-box-shadow: 0 0 10px rgba(26, 26, 26, 0.11);
          box-shadow: 0 0 10px rgba(26, 26, 26, 0.11);
}

@media (min-width: 950px) {
  .header .desktop-nav {
    display: block;
  }
}

.header .desktop-nav .menu-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .desktop-nav .menu-container ul li {
  padding: 10px;
}

.header .desktop-nav .menu-container ul li:not(:last-child) {
  margin-right: 30px;
}

.header .desktop-nav .menu-container ul li:hover a {
  color: #F68E1E;
}

.header .desktop-nav .menu-container ul li a {
  font-weight: bold;
  color: #1a1a1a;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .desktop-nav .menu-container ul li a.active {
  color: #F68E1E;
}

.header .logo-and-menu-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 50px;
  background: #ffffff;
}

.header .logo-and-menu-container .logo-container {
  width: 180px;
  overflow: hidden;
}

.header .logo-and-menu-container .logo-container img {
  height: 40px;
}

.header .logo-and-menu-container .menu-icon-container {
  width: 35px;
  height: 35px;
}

.header .logo-and-menu-container .menu-icon-container.active .menu-icon {
  background-color: transparent;
}

.header .logo-and-menu-container .menu-icon-container.active .menu-icon::before, .header .logo-and-menu-container .menu-icon-container.active .menu-icon::after {
  top: 0;
  bottom: 0;
  width: 35px;
}

.header .logo-and-menu-container .menu-icon-container.active .menu-icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .logo-and-menu-container .menu-icon-container.active .menu-icon::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header .logo-and-menu-container .menu-icon-container .menu-icon {
  width: 15px;
  height: 3px;
  position: relative;
  background-color: #1a1a1a;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .logo-and-menu-container .menu-icon-container .menu-icon::before, .header .logo-and-menu-container .menu-icon-container .menu-icon::after {
  content: '';
  height: 3px;
  position: absolute;
  background-color: #1a1a1a;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .logo-and-menu-container .menu-icon-container .menu-icon::before {
  right: 0;
  top: -5px;
  width: 35px;
}

.header .logo-and-menu-container .menu-icon-container .menu-icon::after {
  right: 0;
  bottom: -5px;
  width: 20px;
}

.footer {
  padding: 25px 5%;
  text-align: center;
  background: #F68E1E;
}

.footer .copyright a {
  color: #ffffff;
}

.animate {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

.hero-section {
  width: 100%;
  height: 100vh;
}

.hero-section .header {
  width: 100%;
  background: #000;
}

.hero-section .header .mobile-nav {
  z-index: 3;
  width: 100%;
  position: fixed;
}

@media (min-width: 950px) {
  .hero-section .header .mobile-nav {
    display: none;
  }
}

.hero-section .header .mobile-nav .menu-container {
  left: 0;
  z-index: 2;
  top: -500px;
  width: 100%;
  height: 208px;
  position: fixed;
  padding-top: 5px;
  background-color: #ffffff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hero-section .header .mobile-nav .menu-container.active {
  top: 60px;
}

.hero-section .header .mobile-nav .menu-container ul {
  text-align: center;
}

.hero-section .header .mobile-nav .menu-container ul li {
  padding: 15px 50px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border-bottom: 2px solid rgba(26, 26, 26, 0.11);
}

.hero-section .header .mobile-nav .menu-container ul li:hover {
  background-color: #efefef;
}

.hero-section .header .mobile-nav .menu-container ul li:hover a {
  color: #F68E1E;
}

.hero-section .header .mobile-nav .menu-container ul li a {
  width: 100%;
  font-weight: bold;
  color: #1a1a1a;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hero-section .header .mobile-nav .menu-container ul li a.active {
  color: #F68E1E;
}

.hero-section .header .desktop-nav {
  z-index: 3;
  width: 100%;
  height: 60px;
  display: none;
  position: fixed;
}

@media (min-width: 950px) {
  .hero-section .header .desktop-nav {
    display: block;
  }
}

.hero-section .header .desktop-nav .menu-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.hero-section .header .desktop-nav .menu-container ul li {
  padding: 10px;
}

.hero-section .header .desktop-nav .menu-container ul li:not(:last-child) {
  margin-right: 30px;
}

.hero-section .header .desktop-nav .menu-container ul li:hover a {
  color: #F68E1E;
}

.hero-section .header .desktop-nav .menu-container ul li a {
  font-weight: bold;
  color: #1a1a1a;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hero-section .header .desktop-nav .menu-container ul li a.active {
  color: #F68E1E;
}

.hero-section .header .logo-and-menu-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 50px;
  background: #ffffff;
}

.hero-section .header .logo-and-menu-container .logo-container {
  width: 180px;
  overflow: hidden;
}

.hero-section .header .logo-and-menu-container .logo-container img {
  height: 40px;
}

.hero-section .header .logo-and-menu-container .menu-icon-container {
  width: 35px;
  height: 35px;
}

.hero-section .header .logo-and-menu-container .menu-icon-container.active .menu-icon {
  background-color: transparent;
}

.hero-section .header .logo-and-menu-container .menu-icon-container.active .menu-icon::before, .hero-section .header .logo-and-menu-container .menu-icon-container.active .menu-icon::after {
  top: 0;
  bottom: 0;
  width: 35px;
}

.hero-section .header .logo-and-menu-container .menu-icon-container.active .menu-icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hero-section .header .logo-and-menu-container .menu-icon-container.active .menu-icon::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.hero-section .header .logo-and-menu-container .menu-icon-container .menu-icon {
  width: 15px;
  height: 3px;
  position: relative;
  background-color: #1a1a1a;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hero-section .header .logo-and-menu-container .menu-icon-container .menu-icon::before, .hero-section .header .logo-and-menu-container .menu-icon-container .menu-icon::after {
  content: '';
  height: 3px;
  position: absolute;
  background-color: #1a1a1a;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hero-section .header .logo-and-menu-container .menu-icon-container .menu-icon::before {
  right: 0;
  top: -5px;
  width: 35px;
}

.hero-section .header .logo-and-menu-container .menu-icon-container .menu-icon::after {
  right: 0;
  bottom: -5px;
  width: 20px;
}

.hero-section .hero-content {
  width: 100%;
  height: 100%;
}

.hero-section .hero-content .hero-video {
  right: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}

.hero-section .hero-content .cta-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1300px;
  padding-left: 50px;
}

.hero-section .hero-content .cta-container .hero-cta {
  width: 90%;
  height: 50vh;
  max-width: 500px;
  padding-top: 150px;
  color: #ffffff;
}

@media (min-width: 800px) {
  .hero-section .hero-content .cta-container .hero-cta {
    padding-top: 0;
  }
}

@media (min-width: 1200px) {
  .hero-section .hero-content .cta-container .hero-cta {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero-section .hero-content .cta-container .hero-cta .cta {
  width: 100%;
  height: 320px;
  max-width: 500px;
}

@media (min-width: 800px) {
  .hero-section .hero-content .cta-container .hero-cta .cta {
    padding-top: 0;
  }
}

.hero-section .hero-content .cta-container .hero-cta .cta h1 {
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .hero-section .hero-content .cta-container .hero-cta .cta h1 {
    font-size: 50px;
  }
}

.hero-section .hero-content .cta-container .hero-cta .cta a button {
  border: none;
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #ffffff;
  background: #F68E1E;
}

.past_work-section .past_work-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.past_work-section .past_work-container .work {
  width: 200px;
  height: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #ffffff;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  -webkit-box-shadow: 0 0 10px rgba(26, 26, 26, 0.13);
          box-shadow: 0 0 10px rgba(26, 26, 26, 0.13);
}

.past_work-section .past_work-container .work h3 {
  margin-bottom: 10px;
  color: #F68E1E;
}

.past_work-section .past_work-container .work p {
  font-weight: 500;
}

.services-section {
  margin-top: 100px;
}

.services-section .services-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  .services-section .services-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.services-section .services-container a {
  width: 100%;
  display: block;
  max-width: 450px;
}

.services-section .services-container a .service {
  width: 100%;
  padding: 10px;
  max-width: 450px;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(26, 26, 26, 0.13);
          box-shadow: 0 0 10px rgba(26, 26, 26, 0.13);
  color: #1a1a1a;
}

.services-section .services-container a .service:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.services-section .services-container a .service img {
  width: 65px;
}

.services-section .services-container a .service h2 {
  margin: 20px 0 10px 0;
  font-weight: 500;
  text-transform: capitalize;
}

.about-section {
  margin-top: 100px;
}

.about-section h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 55px;
}

.about-section h2 .bar {
  height: 7px;
  width: 50px;
  position: relative;
  -webkit-transform: translateX(-55px);
          transform: translateX(-55px);
  background: #F68E1E;
}

.about-section h2 .bar::before {
  bottom: -15px;
  left: 0;
  content: '';
  height: 7px;
  width: 50px;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#F68E1E), to(#EC2025));
  background: linear-gradient(to bottom, #F68E1E, #EC2025);
}

.about-section h2 .bar::after {
  left: 0;
  content: '';
  height: 7px;
  width: 50px;
  bottom: -30px;
  position: absolute;
  background: #EC2025;
}

.about-section .about-container {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 800px) {
  .about-section .about-container {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about-section .about-container .about-image {
  width: 100%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  margin-bottom: 30px;
}

@media (min-width: 800px) {
  .about-section .about-container .about-image {
    width: 50%;
    margin-bottom: 0;
  }
  .about-section .about-container .about-image img {
    max-width: 450px;
    width: 100%;
  }
}

.about-section .about-container .about-description {
  width: 100%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@media (min-width: 800px) {
  .about-section .about-container .about-description {
    width: 50%;
    padding: 10px;
  }
}

.about-section .about-container .about-description p {
  font-size: 23px;
  margin: 0 auto;
  max-width: 450px;
}

.about-section .about-container .about-description p span {
  color: #F68E1E;
  font-weight: 500;
}

.comments-section {
  width: 100%;
  padding: 100px 0;
  margin-top: 100px;
  background: linear-gradient(135deg, #F68E1E, #EC2025);
}

.comments-section h2 {
  color: #ffffff;
  margin-bottom: 50px;
}

.comments-section .form-and-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 600px) {
  .comments-section .form-and-comments {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.comments-section .form-and-comments .comment-form {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  max-width: 500px;
}

@media (min-width: 600px) {
  .comments-section .form-and-comments .comment-form {
    width: 50%;
  }
}

.comments-section .form-and-comments .comment-form label {
  width: 100%;
  margin-bottom: 20px;
  color: #ffffff;
}

.comments-section .form-and-comments .comment-form label input, .comments-section .form-and-comments .comment-form label textarea {
  width: 100%;
  padding: 5px;
  display: block;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.comments-section .form-and-comments .comment-form label input:focus, .comments-section .form-and-comments .comment-form label textarea:focus {
  outline: none;
}

.comments-section .form-and-comments .comment-form .comment-btn {
  width: 100%;
  padding: 5px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  background: #F68E1E;
  border: 2px solid #F68E1E;
}

.comments-section .form-and-comments .comments-container {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  max-width: 500px;
  overflow-y: scroll;
  margin-bottom: 50px;
}

@media (min-width: 600px) {
  .comments-section .form-and-comments .comments-container {
    width: 50%;
  }
}

.comments-section .form-and-comments .comments-container::-webkit-scrollbar {
  width: 10px;
}

.comments-section .form-and-comments .comments-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.comments-section .form-and-comments .comments-container::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  outline: 1px solid #ffffff;
}

.comments-section .form-and-comments .comments-container .comment {
  padding: 10px 0;
  color: #ffffff;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.comments-section .form-and-comments .comments-container .comment h3 {
  font-size: 20px;
  font-weight: 400;
}

.comments-section .form-and-comments .comments-container .comment p {
  font-size: 15px;
  margin-top: 10px;
}

.contact-section {
  width: 100%;
  padding: 100px 0;
  margin-top: 100px;
}

.contact-section .contact-container .details-container {
  padding: 50px 20px;
  border-radius: 5px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(26, 26, 26, 0.13);
          box-shadow: 0 0 10px rgba(26, 26, 26, 0.13);
}

.contact-section .contact-container .details-container .row {
  width: 100%;
}

@media (min-width: 600px) {
  .contact-section .contact-container .details-container .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact-section .contact-container .details-container .row a, .contact-section .contact-container .details-container .row span {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  .contact-section .contact-container .details-container .row a, .contact-section .contact-container .details-container .row span {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact-section .contact-container .details-container .row a:nth-child(1), .contact-section .contact-container .details-container .row span:nth-child(1) {
  width: 40%;
}

.contact-section .contact-container .details-container .row a img, .contact-section .contact-container .details-container .row span img {
  width: 50px;
}

.contact-section .contact-container .details-container .row a span, .contact-section .contact-container .details-container .row span span {
  width: 100%;
  color: #F68E1E;
}

.contact-section .contact-container .contact-form {
  margin-top: 50px;
}

.contact-section .contact-container .contact-form .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-section .contact-container .contact-form .row label {
  width: 100%;
  margin-bottom: 20px;
  color: #F68E1E;
}

@media (min-width: 800px) {
  .contact-section .contact-container .contact-form .row label {
    max-width: 330px;
    margin-right: 17px;
  }
  .contact-section .contact-container .contact-form .row label:last-child {
    margin-right: 0;
  }
}

.contact-section .contact-container .contact-form .row label input, .contact-section .contact-container .contact-form .row label select {
  width: 100%;
  color: #F68E1E;
  padding: 5px;
  display: block;
  border-radius: 3px;
  border: 2px solid #F68E1E;
}

@media (min-width: 800px) {
  .contact-section .contact-container .contact-form .row label input, .contact-section .contact-container .contact-form .row label select {
    max-width: 380px;
  }
}

.contact-section .contact-container .contact-form .row label input:focus, .contact-section .contact-container .contact-form .row label select:focus {
  outline: none;
}

.contact-section .contact-container .contact-form .submit-btn {
  width: 100%;
  padding: 5px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  background: #F68E1E;
  border: 2px solid #F68E1E;
}
/*# sourceMappingURL=index.css.map */