@import "../main.scss";

.about-section {
     margin-top: 100px;

     h2 {
          font-size: 30px;
          margin-bottom: 20px;
          margin-left: 55px;
          
          .bar {
               height: 7px;
               width: 50px;
               position: relative;
               transform: translateX(-55px);
               background: $color-primary;

               &::before {
                    bottom: -15px;
                    left: 0;
                    content: '';
                    height: 7px;
                    width: 50px;
                    position: absolute;
                    background: linear-gradient(to bottom, $color-primary, $color-secondary);
               }

               &::after {
                    left: 0;
                    content: '';
                    height: 7px;
                    width: 50px;
                    bottom: -30px;
                    position: absolute;
                    background: $color-secondary;
               }
          }
     }

     .about-container {
          width: 100%;
          margin: 0 auto;
          max-width: 900px;
          text-align: center;
          flex-direction: column;
          @extend %space-between;
          
          @media (min-width: 800px) {
               text-align: left;
               flex-direction: row;
          }

          .about-image {
               width: 100%;
               margin-bottom: 30px;
               
               @media (min-width: 800px) {
                    width: 50%;
                    margin-bottom: 0;

                    img {
                         max-width: 450px;
                         width: 100%;
                    }
               }
          }
          
          .about-description {
               width: 100%;

               @media (min-width: 800px) {
                    width: 50%;
                    padding: 10px;
               }

               p {
                    font-size: 23px;
                    margin: 0 auto;
                    max-width: 450px;

                    span {
                         color: $color-primary;
                         font-weight: 500;
                    }
               }
          }
     }
     
     .founding {
          margin-top: 40px;
     }

     .why-us, .our-aim, .our-vision {
          margin-top: 50px;
     
          h4 {
               font-size: 40px;
               margin-bottom: 10px;
               color: $color-primary;
               text-transform: capitalize;
          }

          p {
               span {
                    font-weight: 500;
                    color: $color-primary;
                    text-transform: uppercase;
               }
          }
     }

     .our-vision {
          margin-bottom: 50px;
     }
}

.alt-about {
     padding: 100px 0;
     color: $color-white;
     background: linear-gradient(135deg, $color-primary, $color-secondary);

     h4 {
          font-size: 40px;
          margin-bottom: 10px;
          text-transform: capitalize;
     }

     p {
          margin-bottom: 50px;
     }
}

.contact-section {
     width: 100%;
     padding: 100px 0;

     .contact-container {
          .details-container {
               padding: 50px 20px;
               border-radius: 5px;
               background: $color-white;
               box-shadow: 0 0 10px rgba($color-black, .15);

               .row {
                    width: 100%;
                    @extend %flex-start;
                    
                    @media (min-width: 600px) {
                         justify-content: space-between;
                    }
                    
                    a, span {
                         width: 50%;
                         display: flex;
                         align-items: flex-start;
                         flex-direction: column;
                         
                         @media (min-width: 600px) {
                              align-items: center;
                              flex-direction: row;
                         }
                         
                         &:nth-child(1) {
                              width: 40%;
                         }
                         
                         img {
                              width: 50px;
                         }
                         
                         span {
                              width: 100%;
                              color: $color-primary;
                         }
                    }
                    
               }
          }

          .contact-form {
               margin-top: 50px;

               .row {
                    flex-wrap: wrap;
                    @extend %flex-start;
                    align-items: flex-end;

                    label {
                         width: 100%;
                         margin-bottom: 20px;
                         color: $color-primary;

                         @media (min-width: 800px) {
                              max-width: 330px;
                              margin-right: 17px;
                              
                              &:last-child() {
                                   margin-right: 0;

                              }
                         }

                         input, select {
                              width: 100%;
                              color: $color-primary;
                              padding: 5px;
                              display: block;
                              border-radius: 3px;
                              border: 2px solid $color-primary;


                              @media (min-width: 800px) {
                                   max-width: 380px;
                              }
                         
                              &:focus {
                                   outline: none;
                              }
                         }
                    }
               }

               .submit-btn {
                    width: 100%;
                    padding: 5px;
                    font-weight: 500;
                    letter-spacing: 2px;
                    color: $color-white;
                    text-transform: uppercase;
                    background: $color-primary;
                    border: 2px solid $color-primary;
               }
          }
     }
}