@import "../main.scss";

.services-section {
     margin-top: 100px;
     margin-bottom: 50px;

     h2 {
          font-size: 30px;
          margin-bottom: 20px;
          margin-left: 55px;
          
          .bar {
               height: 7px;
               width: 50px;
               position: relative;
               transform: translateX(-55px);
               background: $color-primary;

               &::before {
                    bottom: -15px;
                    left: 0;
                    content: '';
                    height: 7px;
                    width: 50px;
                    position: absolute;
                    background: linear-gradient(to bottom, $color-primary, $color-secondary);
               }

               &::after {
                    left: 0;
                    content: '';
                    height: 7px;
                    width: 50px;
                    bottom: -30px;
                    position: absolute;
                    background: $color-secondary;
               }
          }
     }

     .services-container {
          flex-wrap: wrap;
          animation-delay: .5s;
          flex-direction: column;
          @extend %space-between;
          
          @media (min-width: 600px) {
               flex-direction: row;
          }
          
          .service {
               width: 100%;
               padding: 10px;
               height: 330px;
               max-width: 450px;
               border-radius: 5px;
               margin-bottom: 20px;
               @extend %transition;
               background: $color-white;
               box-shadow: 0 0 10px rgba($color-black, .13);

               &:hover {
                    transform: scale(1.01);
               }

               img {
                    width: 65px;
               }

               h2 {
                    margin: 20px 0 10px 0;
                    font-weight: 500;
                    text-transform: capitalize;
               }
          }
     }

     .downloadable-container {
          button {
               border: none;
               margin-top: 20px;
               padding: 10px 15px;
               border-radius: 5px;
               background: $color-primary;
               
               a {
                    color: $color-white;
               }
          }
     }
}

.contact-section {
     width: 100%;
     padding: 100px 0;
      margin-top: 100px;
     background: linear-gradient(135deg, $color-primary, $color-secondary);

     .contact-container {
          .details-container {
               padding: 50px 20px;
               border-radius: 5px;
               background: $color-white;

               .row {
                    width: 100%;
                    @extend %flex-start;
                    
                    @media (min-width: 600px) {
                         justify-content: space-between;
                    }
                    
                    a, span {
                         width: 50%;
                         display: flex;
                         align-items: flex-start;
                         flex-direction: column;
                         
                         @media (min-width: 600px) {
                              align-items: center;
                              flex-direction: row;
                         }
                         
                         &:nth-child(1) {
                              width: 40%;
                         }
                         
                         img {
                              width: 50px;
                         }
                         
                         span {
                              width: 100%;
                              color: $color-primary;
                         }
                    }
                    
               }
          }

          .contact-form {
               margin-top: 50px;

               .row {
                    flex-wrap: wrap;
                    @extend %flex-start;
                    align-items: flex-end;

                    label {
                         width: 100%;
                         margin-bottom: 20px;
                         color: $color-white;

                         @media (min-width: 800px) {
                              max-width: 330px;
                              margin-right: 17px;
                              
                              &:last-child() {
                                   margin-right: 0;

                              }
                         }

                         input, select {
                              width: 100%;
                              color: $color-primary;
                              padding: 5px;
                              display: block;
                              border-radius: 3px;
                              border: 2px solid $color-white;


                              @media (min-width: 800px) {
                                   max-width: 380px;
                              }
                         
                              &:focus {
                                   outline: none;
                              }
                         }
                    }
               }

               .submit-btn {
                    width: 100%;
                    padding: 5px;
                    font-weight: 500;
                    letter-spacing: 2px;
                    color: $color-white;
                    text-transform: uppercase;
                    background: $color-primary;
                    border: 2px solid $color-primary;
               }
          }
     }
}