@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
.animate {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

.header .logo-and-menu-container .menu-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .logo-and-menu-container, .header .logo-and-menu-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

body .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1024px;
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
}

.header {
  width: 100%;
}

.header .mobile-nav {
  width: 100%;
  background-color: #F68E1E;
}

@media (min-width: 950px) {
  .header .mobile-nav {
    display: none;
  }
}

.header .mobile-nav .menu-container {
  left: 0;
  z-index: 2;
  top: -500px;
  width: 100%;
  height: 208px;
  position: fixed;
  padding-top: 5px;
  background-color: #ffffff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .mobile-nav .menu-container.active {
  top: 60px;
}

.header .mobile-nav .menu-container ul {
  text-align: center;
}

.header .mobile-nav .menu-container ul li {
  padding: 15px 50px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border-bottom: 2px solid rgba(26, 26, 26, 0.11);
}

.header .mobile-nav .menu-container ul li:hover {
  background-color: #efefef;
}

.header .mobile-nav .menu-container ul li:hover a {
  color: #F68E1E;
}

.header .mobile-nav .menu-container ul li a {
  width: 100%;
  font-weight: bold;
  color: #1a1a1a;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .mobile-nav .menu-container ul li a.active {
  color: #F68E1E;
}

.header .desktop-nav {
  width: 100%;
  height: 60px;
  display: none;
  background-color: #F68E1E;
}

@media (min-width: 950px) {
  .header .desktop-nav {
    display: block;
  }
}

.header .desktop-nav .menu-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .desktop-nav .menu-container ul li {
  padding: 10px;
}

.header .desktop-nav .menu-container ul li:not(:last-child) {
  margin-right: 30px;
}

.header .desktop-nav .menu-container ul li:hover a {
  color: #F68E1E;
}

.header .desktop-nav .menu-container ul li a {
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .desktop-nav .menu-container ul li a.active {
  color: #F68E1E;
}

.header .logo-and-menu-container {
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 60px;
  position: fixed;
  padding: 0 50px;
  background: linear-gradient(135deg, #F68E1E, #EC2025);
}

.header .logo-and-menu-container .logo-container {
  width: 180px;
  overflow: hidden;
}

.header .logo-and-menu-container .logo-container img {
  height: 40px;
}

.header .logo-and-menu-container .menu-icon-container {
  width: 35px;
  height: 35px;
}

.header .logo-and-menu-container .menu-icon-container.active .menu-icon {
  background-color: transparent;
}

.header .logo-and-menu-container .menu-icon-container.active .menu-icon::before, .header .logo-and-menu-container .menu-icon-container.active .menu-icon::after {
  top: 0;
  bottom: 0;
  width: 35px;
}

.header .logo-and-menu-container .menu-icon-container.active .menu-icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .logo-and-menu-container .menu-icon-container.active .menu-icon::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header .logo-and-menu-container .menu-icon-container .menu-icon {
  width: 15px;
  height: 3px;
  position: relative;
  background-color: #ffffff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .logo-and-menu-container .menu-icon-container .menu-icon::before, .header .logo-and-menu-container .menu-icon-container .menu-icon::after {
  content: '';
  height: 3px;
  position: absolute;
  background-color: #ffffff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .logo-and-menu-container .menu-icon-container .menu-icon::before {
  right: 0;
  top: -5px;
  width: 35px;
}

.header .logo-and-menu-container .menu-icon-container .menu-icon::after {
  right: 0;
  bottom: -5px;
  width: 20px;
}

.footer {
  padding: 25px 5%;
  text-align: center;
  background: #F68E1E;
}

.footer .copyright a {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */