@import "./animations.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

// SCSS VARIABLES
$color-white: #ffffff;
$color-black: #1a1a1a;
$color-primary: #F68E1E;
$color-secondary: #EC2025;
$color-off-white: #efefef;


// SCSS MIXINS
%center {
     display: flex;
     align-items: center;
     justify-content: center;
}

%flex-end {
     display: flex;
     align-items: center;
     justify-content: flex-end;
}

%flex-start {
     display: flex;
     align-items: center;
     justify-content: flex-start;
}

%space-between {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

%transition {
     transition: all .5s ease-in-out;
}

%responsive-row {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     flex-direction: column;
     justify-content: space-between;
     
     @media (min-width: 600px) {
          flex-direction: row;
     }
}


// CSS RESET
*,
*::before,
*::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
}

body {
     font-family: 'Roboto', sans-serif;

     .container {
          width: 90%;
          margin: 0 auto;
          max-width: 1024px;
     }

     ul {
          list-style: none;
     }

     a {
          text-decoration: none;
     }
}

.header {
     width: 100%;

     .mobile-nav {
          width: 100%;
          background-color: $color-primary;

          @media (min-width: 950px) {
               display: none;
          }

          .menu-container {
               left: 0;
               z-index: 2;
               top: -500px;
               width: 100%;
               height: 208px;
               position: fixed;
               padding-top: 5px;
               background-color: $color-white;
               transition: all .5s ease-in-out;

               &.active {
                    top: 60px;
               }

               ul {
                    text-align: center;

                    li {
                         padding: 15px 50px;
                         transition: all .5s ease-in-out;
                         border-bottom: 2px solid rgba($color-black, .11);

                         &:hover {
                              background-color: $color-off-white;

                              a {
                                   color: $color-primary;
                              }
                         }

                         a {
                              width: 100%;
                              font-weight: bold;
                              color: $color-black;
                              letter-spacing: 2px;
                              text-decoration: none;
                              text-transform: uppercase;
                              transition: all .5s ease-in-out;

                              &.active {
                                   color: $color-primary;
                              }
                         }
                    }
               }
          }
     }

     .desktop-nav {
          width: 100%;
          height: 60px;
          display: none;
          background-color: $color-primary;

          @media (min-width: 950px) {
               display: block;
          }

          .menu-container {
               ul {
                    display: flex;
                    list-style: none;

                    li {
                         padding: 10px;

                         &:not(:last-child) {
                              margin-right: 30px;
                         }

                         &:hover {
                              a {
                                   color: $color-primary;
                              }
                         }

                         a {
                              font-weight: bold;
                              color: $color-white;
                              letter-spacing: 1px;
                              text-decoration: none;
                              text-transform: uppercase;
                              transition: all .5s ease-in-out;

                              &.active {
                                   color: $color-primary;
                              }
                         }
                    }
               }
          }
     }

     .logo-and-menu-container {
          top: 0;
          left: 0;
          z-index: 3;
          width: 100%;
          height: 60px;
          position: fixed;
          padding: 0 50px;
          @extend %space-between;
          background: linear-gradient(135deg, $color-primary, $color-secondary);

          .logo-container {
               width: 180px;
               overflow: hidden;
               @extend %space-between;

               img {
                    height: 40px;
               }
          }

          .menu-icon-container {
               width: 35px;
               height: 35px;
               @extend %flex-end;

               &.active {
                    .menu-icon {
                         background-color: transparent;

                         &::before,
                         &::after {
                              top: 0;
                              bottom: 0;
                              width: 35px;
                         }

                         &::before {
                              transform: rotate(45deg);
                         }

                         &::after {
                              transform: rotate(135deg);
                         }
                    }
               }

               .menu-icon {
                    width: 15px;
                    height: 3px;
                    position: relative;
                    background-color: $color-white;
                    transition: all .5s ease-in-out;

                    &::before,
                    &::after {
                         content: '';
                         height: 3px;
                         position: absolute;
                         background-color: $color-white;
                         transition: all .5s ease-in-out;
                    }

                    &::before {
                         right: 0;
                         top: -5px;
                         width: 35px;
                    }

                    &::after {
                         right: 0;
                         bottom: -5px;
                         width: 20px;
                    }
               }
          }
     }
}

.footer {
     padding: 25px 5%;
     text-align: center;
     background: $color-primary;

     .copyright {
  
         a {
             color: $color-white;
         }
     }
}