@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
.header .logo-and-menu-container .menu-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .logo-and-menu-container, .header .logo-and-menu-container .logo-container, .about-section .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

body .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1024px;
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
}

.header {
  width: 100%;
}

.header .mobile-nav {
  width: 100%;
  background-color: #F68E1E;
}

@media (min-width: 950px) {
  .header .mobile-nav {
    display: none;
  }
}

.header .mobile-nav .menu-container {
  left: 0;
  z-index: 2;
  top: -500px;
  width: 100%;
  height: 208px;
  position: fixed;
  padding-top: 5px;
  background-color: #ffffff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .mobile-nav .menu-container.active {
  top: 60px;
}

.header .mobile-nav .menu-container ul {
  text-align: center;
}

.header .mobile-nav .menu-container ul li {
  padding: 15px 50px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border-bottom: 2px solid rgba(26, 26, 26, 0.11);
}

.header .mobile-nav .menu-container ul li:hover {
  background-color: #efefef;
}

.header .mobile-nav .menu-container ul li:hover a {
  color: #F68E1E;
}

.header .mobile-nav .menu-container ul li a {
  width: 100%;
  font-weight: bold;
  color: #1a1a1a;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .mobile-nav .menu-container ul li a.active {
  color: #F68E1E;
}

.header .desktop-nav {
  width: 100%;
  height: 60px;
  display: none;
  background-color: #F68E1E;
}

@media (min-width: 950px) {
  .header .desktop-nav {
    display: block;
  }
}

.header .desktop-nav .menu-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .desktop-nav .menu-container ul li {
  padding: 10px;
}

.header .desktop-nav .menu-container ul li:not(:last-child) {
  margin-right: 30px;
}

.header .desktop-nav .menu-container ul li:hover a {
  color: #F68E1E;
}

.header .desktop-nav .menu-container ul li a {
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .desktop-nav .menu-container ul li a.active {
  color: #F68E1E;
}

.header .logo-and-menu-container {
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 60px;
  position: fixed;
  padding: 0 50px;
  background: linear-gradient(135deg, #F68E1E, #EC2025);
}

.header .logo-and-menu-container .logo-container {
  width: 180px;
  overflow: hidden;
}

.header .logo-and-menu-container .logo-container img {
  height: 40px;
}

.header .logo-and-menu-container .menu-icon-container {
  width: 35px;
  height: 35px;
}

.header .logo-and-menu-container .menu-icon-container.active .menu-icon {
  background-color: transparent;
}

.header .logo-and-menu-container .menu-icon-container.active .menu-icon::before, .header .logo-and-menu-container .menu-icon-container.active .menu-icon::after {
  top: 0;
  bottom: 0;
  width: 35px;
}

.header .logo-and-menu-container .menu-icon-container.active .menu-icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .logo-and-menu-container .menu-icon-container.active .menu-icon::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header .logo-and-menu-container .menu-icon-container .menu-icon {
  width: 15px;
  height: 3px;
  position: relative;
  background-color: #ffffff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .logo-and-menu-container .menu-icon-container .menu-icon::before, .header .logo-and-menu-container .menu-icon-container .menu-icon::after {
  content: '';
  height: 3px;
  position: absolute;
  background-color: #ffffff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .logo-and-menu-container .menu-icon-container .menu-icon::before {
  right: 0;
  top: -5px;
  width: 35px;
}

.header .logo-and-menu-container .menu-icon-container .menu-icon::after {
  right: 0;
  bottom: -5px;
  width: 20px;
}

.about-section {
  margin-top: 100px;
}

.about-section h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 55px;
}

.about-section h2 .bar {
  height: 7px;
  width: 50px;
  position: relative;
  -webkit-transform: translateX(-55px);
          transform: translateX(-55px);
  background: #F68E1E;
}

.about-section h2 .bar::before {
  bottom: -15px;
  left: 0;
  content: '';
  height: 7px;
  width: 50px;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#F68E1E), to(#EC2025));
  background: linear-gradient(to bottom, #F68E1E, #EC2025);
}

.about-section h2 .bar::after {
  left: 0;
  content: '';
  height: 7px;
  width: 50px;
  bottom: -30px;
  position: absolute;
  background: #EC2025;
}

.about-section .about-container {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 800px) {
  .about-section .about-container {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about-section .about-container .about-image {
  width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 800px) {
  .about-section .about-container .about-image {
    width: 50%;
    margin-bottom: 0;
  }
  .about-section .about-container .about-image img {
    max-width: 450px;
    width: 100%;
  }
}

.about-section .about-container .about-description {
  width: 100%;
}

@media (min-width: 800px) {
  .about-section .about-container .about-description {
    width: 50%;
    padding: 10px;
  }
}

.about-section .about-container .about-description p {
  font-size: 23px;
  margin: 0 auto;
  max-width: 450px;
}

.about-section .about-container .about-description p span {
  color: #F68E1E;
  font-weight: 500;
}

.footer {
  padding: 25px 5%;
  text-align: center;
  background: #F68E1E;
}

.footer .copyright a {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */